{% extends 'WOF/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index page!
{% endblock %}


{% block body_block %}

    <div class="wrapper">
        <div class="topbar w clearfix">
            <ul class="barul">
                <li class="litext"><a href="">University Logo</a></li>

                <li class="litext"><a href="../html/selecting.html">Course Selector</a></li>

                <li class="litext"><a href="../html/taskmanager.html">Task Manager</a></li>

                <li class="litext"><a href="{% url 'WOF:login' %}">Login</a></li>

                <li class="lastone"><a href="../html/register.html">Register</a></li>
            </ul>
        </div>
    </div>
    <div class="mainbody">

        <div class="mainbody_left">
            <div class="weather">

            </div>
            <div class="content_name">
                University event
            </div>
            <div class="content">
                <div class="content_show">
                    <p>asdgnlakrnleqw gjk werweth r</p>
                </div>
            </div>
        </div>

        <div class="mainbody_center">
            <div class="schoolimg">

            </div>
            <div class="searchbar">
                <input type="text" placeholder="Type here...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="info_of_uni">
                <div class="info_of_uni_show">
                    <p>absdkjgbkajbgqoeurihgionegl</p>
                </div>
            </div>
        </div>
    
        <div class="mainbody_right">
            <div class="helper_title">
                Who can help you in University
            </div>
            <div class="helper">
                <div class="helper_show">
                    <p>asdfjkhioanoefqw oibefoibqwirgjqiejrgiower</p>
                </div>
            </div>
        </div>
{% endblock %}