<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>		
	</style>
	<body>
		<div class="loginInterface">
			<div class="loginLogo">
				
			</div>
			<div class="loginBackground">
				<img src="./img/d06a4c2318f3c74159b87d64ead459a2.jpg">
			</div>
			
			<div class="loginBlock">
				<form action="/">
					<div class="loginBlock_text">Register<span><a href="#">login</a></span></div>
					<div class="loginBlock_input">
						<input type="text" placeholder="last name" name="name" id="name">
					</div>
					<div class="loginBlock_input">
						<input type="text" placeholder="frist name" name="text" id="text">
					</div>
					<div class="loginBlock_input">
						<input type="password" placeholder="password" name="password" id="password">
					</div>
					<div class="loginBlock_input">
						<input type="email" placeholder="email" name="email" id="email">
					</div>
					<div class="loginBlock_input">
						<select>
							<option value ="province">province</option>
							<option value ="AB">AB</option>
							<option value ="AB">BC</option>
							<option value ="AB">MB</option>
							<option value ="AB">NL</option>
							<option value ="AB">NB</option>
							<option value ="AB">NS</option>
							<option value ="AB">ON</option>
							<option value ="AB">PE</option>
							<option value ="AB">QC</option>
							<option value ="AB">SK</option>
						</select>
					</div>
					
					<div class="loginBlock_input">
						<label>
							<input type="checkbox" name="checkbox" id="checkbox" value="" />
							<span>sign up for a ncwsletter</span>
						</label>
					</div>
					
					<div class="loginBlock_button">
						
						<a href="#">
							<button class="btn btn-block">submit</button>
						</a>
					</div>
					
				</form>
				
			</div>
			<div id="foot">
				<p>All rights reserved</p>
			</div>
		</div>
	</body>
</html>
